go 1.24.3

use (
	.
	./playgrounds/cobra_and_viper
	./playgrounds/custom_error_with_stacktrace
	./playgrounds/errors_cockroachdb
	./playgrounds/errors_stdpkg
	./playgrounds/generate_id
	./playgrounds/gin_graceful_shutdown
	./playgrounds/gin_validator
	./playgrounds/gin_with_grafana_stack
	./playgrounds/gin_with_valkey
	./playgrounds/go-playground_validator_with_cerrors
	./playgrounds/go_generate
	./playgrounds/openapi_codegen
	./playgrounds/scs_with_redis
	./playgrounds/sqlc_with_golang_migrate
)
